<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  VideoSL-o-ROR is a videomarketing social app developed by
  Master students at Universidad de los Andes, Colombia for
  the cloud computing subject. It's partly based on a 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  it can be found on github here
  <a href="https://github.com/sebashepin/">here</a>

</p>
