<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can contact us at
</p>
<p>
  <a href="mailto:someone@example.com"> Leslie, </a>
</p>
<p>
  <a href="mailto:someone@example.com"> Sebastian </a>
</p>
