<div class="center hero-unit">
  <h1>Welcome to </h1> <br/><h1>VIDEOS-L-o-ROR</h1>

<h2>
      This is the home page for the
      Cloud Computing class
      
    </h2>

  <%= link_to "Watch all videos", videos_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

