<div class="center hero-unit">

<h2>
Videos
</h2>

<div class="userVideos">

<ul class="videos">

<% Video.where(estado: Video::CONVERTED_STATE).each do |video|  %>
            <div class="uv">
                <div id="myElement<%= video.id %>">Loading the player...</div>
                <script type="text/javascript">
                     jwplayer("myElement<%= video.id %>").setup({
                          file: "<%= video.video_converted.url%>",
                          width: 320,
                          height: 240,
                          title: "<%= video.name %>"
                      });
                 </script>
            </div>
<% end %>
            </ul>





</div>

